/* Buttons.css */
.button {
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 14px !important;
}

/* Primary кнопка */
.button--primary {
  background-color: var(--primary-blue);
  color: white;
  border: 5px solid var(--primary-blue-glass);
  padding: 12px 24px;
  border-radius: 30px;
}

.button--primary:hover:not(:disabled) {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border: 5px solid var(--primary-blue);
}

.button--primary:active:not(:disabled) {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  opacity: 0.5;
}

/* Text кнопка */
.button--text {
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 4px;
}

.button--text:hover:not(:disabled) {
    color: var(--primary-blue);
}

.button--text:active:not(:disabled) {
    opacity: 0.5;
}

/* Disabled состояние */
.button--disabled {
  opacity: 0.6;
  cursor: not-allowed !important;
  transform: none !important;
}

.button--black_prymary{
    cursor: pointer;
    background-color: var(--black);
    color: white;
    border: 5px solid var(--black-blur);
    padding: 12px 24px;
    border-radius: 30px;
}

.button--black_prymary:hover:not(:disabled) {
    color: var(--primary-blue);
    border: 5px solid var(--black);
}

.button_icon{
    display: flex;
    align-items: center;
}
.button_icon img{
    width: 2vw;
}


.button--black_prymary:active:not(:disabled) {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  opacity: 0.9;
}


/* Full width кнопка */
.button--primary-full {
  background-color: var(--primary-blue);
  color: white;
  border: 5px solid var(--primary-blue-glass);
  padding: 12px 24px;
  border-radius: 30px;
  width: 100%;
  display: block;
}

.button--primary-full:hover:not(:disabled) {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border: 5px solid var(--primary-blue);
}

.button--primary-full:active:not(:disabled) {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  opacity: 0.5;
}




/* Text кнопка */
.button--text-blue-underline {
  background-color: transparent;
  color: var(--primary-blue);
  text-decoration: underline;
  border: none;
  border-radius: 4px;
}

.button--text-blue-underline:hover:not(:disabled) {
    color: var(--white);
}

.button--text-blue-underline:active:not(:disabled) {
    opacity: 0.5;
}


/* черная на всю ширину */
.button--black_prymary-widht{
    cursor: pointer;
    background-color: var(--black);
    color: white;
    width: 100%;
    border: 5px solid var(--black-blur);
    padding: 12px 24px;
    border-radius: 30px;
}

.button--black_prymary-widht:hover:not(:disabled) {
    color: var(--primary-blue);
    border: 5px solid var(--black);
}




.button--black_prymary-t{
    cursor: pointer;
    background-color: var(--black-s);
    color: white;
    border: 1.5px solid var(--black-t);
    padding: 13px 16px;
    border-radius: 14px;
}

.button--black_prymary-t:hover:not(:disabled) {
    border: 1.5px solid var(--primary-blue);
}
.button--black_prymary-t:active:not(:disabled) {
    background-color: var(--primary-blue);
}









/* navigation_But */

.button--navigation_But {
  width: 100%;
  background-color: var(--black);
  color: white;
  padding: 12px 10px;
  border-radius: 12px;
}

.button--navigation_But:hover:not(:disabled) {
  background-color: #1e74ff2f;
  color: var(--primary-blue);
}

.button--navigation_But:active:not(:disabled) {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  opacity: 0.5;
}

.IconSvgNav svg {
  stroke: var(--white);
  fill: transparent;
}
/* Добавить это правило */
.button--navigation_But:hover:not(:disabled) .IconSvgNav svg {
  stroke: var(--primary-blue);
}




/* Primary кнопка */
.button--primary-danger {
  background-color: var(--red);
  color: white;
  border: 5px solid #63363B;
  padding: 12px 24px;
  border-radius: 30px;
}

.button--primary-danger:hover:not(:disabled) {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border: 5px solid var(--red);
}

.button--primary-danger:active:not(:disabled) {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  opacity: 0.5;
}





/* Активное состояние кнопки - такой же как hover */
.button--navigation_But.active:not(:disabled) {
  background-color: #1e74ff2f;
  color: var(--primary-blue);
}

/* Активное состояние для иконки */
.button--navigation_But.active:not(:disabled) .IconSvgNav svg {
  stroke: var(--primary-blue);
}

/* Если нужно, чтобы иконка тоже меняла цвет */
.IconSvgNav.active svg {
  stroke: var(--primary-blue);
}







.button--nm_black_prymary{
    cursor: pointer !important;
    background-color: var(--black) !important;
    color: white !important;
    border: 2px solid var(--black-blur) !important;
    padding: 6px 10px !important;
    border-radius: 10px !important;
}

.button--nm_black_prymary:hover:not(:disabled) {
    color: var(--primary-blue);
    background-color: var(--primary-blue) !important;
    border: 2px solid var(--primary-blue);
}
.button--nm_black_prymary:active:not(:disabled) {
  opacity: 0.5;
}
.butBAck{
  background-color: var(--black-s) !important;
  border: none !important;
}
.ewriu{
  width: 100% !important;
}



/* Primary кнопка */
.button--page_choise {
  background-color: var(--black);
  color: white;
  border: 2px solid var(--black-t);
  padding: 10px 18px;
  border-radius: 30px;
}

.button--page_choise:hover:not(:disabled) {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border: 2px solid var(--primary-blue);
}

.button--page_choise:active:not(:disabled) {
  background-color: var(--primary-blue);
}


.button--page_choise-active {
  background-color: var(--primary-blue);
  color: white;
  border: 2px solid var(--black-t);
  padding: 10px 18px;
  border-radius: 30px;
}






/* Primary кнопка */
.button--primary-icon {
  background-color: var(--primary-blue);
  color: white;
  border: 4px solid var(--primary-blue-glass);
  padding: 16px 16px;
  border-radius: 30px;
}

.button--primary-icon:hover:not(:disabled) {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border: 4px solid var(--primary-blue);
}

.button--primary-icon:active:not(:disabled) {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  opacity: 0.5;
}







/* navigation_But_exit */

.button--navigation_But_exit {
  width: 100%;
  background-color: var(--black);
  color: rgba(255, 255, 255, 0.288);
  padding: 12px 10px;
  border: 1px solid var(--black-t);
  border-radius: 12px;
}

.button--navigation_But_exit:hover:not(:disabled) {
  background-color: var(--red-blur);
  color: var(--red);
  border: 1px solid var(--red);
}

.button--navigation_But_exit:active:not(:disabled) {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  opacity: 0.5;
}

.IconSvgNav-exit svg {
  stroke: rgba(255, 255, 255, 0.288);
  fill: transparent;
}
/* Добавить это правило */
.button--navigation_But_exit:hover:not(:disabled) .IconSvgNav-exit svg {
  stroke: var(--red);
}










/* Primary кнопка */
.button--alert_dilog {
  background-color: var(--black);
  color: white;
  border: 2px solid var(--black-t);
  padding: 7px 20px;
  border-radius: 14px;
}

.button--alert_dilog:hover:not(:disabled) {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border: 2px solid var(--primary-blue);
}

.button--alert_dilog:active:not(:disabled) {
  background-color: var(--primary-blue);
}






/* Primary кнопка */
.button--alert_dilog-red {
  background-color: var(--red-blur);
  color: var(--red);
  border: 2px solid transparent;
  padding: 7px 20px;
  border-radius: 14px;
}

.button--alert_dilog-red:hover:not(:disabled) {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border: 2px solid var(--red);
}

.button--alert_dilog-red:active:not(:disabled) {
  opacity: 0.5;
}




/* Primary кнопка */
.button--iconButton {
  padding: 10px 15px 10px 15px;
    background-color: var(--black-s);
    border: 2px solid var(--black-t);
    border-radius: 16px;
}

.button--iconButton:hover:not(:disabled) {
    border: 2px solid var(--primary-blue);
}

.button--iconButton:active:not(:disabled) {
    background-color: var(--primary-blue);
}

.button--iconButton.favorite-active {
    border-color: var(--primary-blue);
    background-color: var(--primary-blue-glass);
}

.button--iconButton.favorite-active svg path {
    fill: var(--primary-blue);
    stroke: var(--primary-blue);
}




.button--primary-buy {
  background-color: var(--primary-blue);
  color: white;
  border: 5px solid var(--primary-blue-glass);
  padding: 12px 24px;
  border-radius: 30px;
}

.button--primary-buy:hover:not(:disabled) {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border: 5px solid var(--primary-blue);
}

.button--primary-buy:active:not(:disabled) {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  opacity: 0.5;
}
/* 


.button--text_choosevariant {
  color: gray;
  background-color: transparent;
  padding: 16px 16px 0px 16px;
  border: none;
  border-radius: 4px;
} */

.buttons_loader_contentIn_container {
  display: flex;
  flex-wrap: nowrap; /* ЗАПРЕЩАЕМ перенос на новую строку */
  overflow-x: auto;  /* ВКЛЮЧАЕМ горизонтальный скролл */
  gap: 0; /* убираем отступы если есть */
  min-width: min-content; /* обеспечивает правильное определение ширины */
}

/* Уберите overflow-x из родительского контейнера */
.containerInformaton_about_coin_content {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* overflow-x: auto; - УБРАТЬ ОТСЮДА */
  overflow-y: hidden;
}
  .button--text_choosevariant {
    color: gray;
    border-bottom: 2px solid transparent;
    background-color: transparent;
    padding: 16px 24px 16px 24px;
    border-radius: 0px;
  }

  .button--text_choosevariant.active {
    color: var(--primary-blue);
    border-bottom: 2px solid var(--primary-blue);
    background-color: transparent;
    padding: 16px 24px 16px 24px;
    border-radius: 0px;
  }

  .button--text_choosevariant:hover:not(:disabled) {
    color: var(--primary-blue);
  }

  .button--text_choosevariant:active:not(:disabled) {
    opacity: 0.5;
  }






.button--chartBuy {
  color: var(--gray);
  padding: 10px;
  border-radius: 13px;
  border: 2px solid transparent;
  transition: background-color 0.25s ease, color 0.25s ease, border-color 0.25s ease, transform 0.2s ease, opacity 0.2s ease;
}

.button--chartBuy.active {
  background-color: var(--black-t);
  color: var(--primary-blue);
  padding: 10px;
  border-radius: 13px;
}

.button--chartBuy:hover:not(:disabled) {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border: 2px solid var(--black-t);
  transform: translateY(-1px);
}

.button--chartBuy:active:not(:disabled) {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  opacity: 0.5;
}
