@import "./style/fonts/fonst-settings.css";
@import "./style/components/pages/Landing.css";
@import "./style/components/buttons.css";
@import "./style/components/pages/LogIn.css";
@import "./style/components/inputs.css";
@import "./style/components/preloader.css";
@import "./style/components/sidebar.css";
@import "./style/components/pages/dashboard.css";
@import "./style/components/pages/app_main.css";
@import "./style/components/marque.css";



@tailwind base;
@tailwind components;
@tailwind utilities;




body{
    margin: 0 auto;
    background-color: var(--black);
    color: var(--white);
    max-width: 1920px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    
}


html{
    scroll-behavior: smooth;
}

:root {
    --primary-blue: #1E75FF;
    --primary-blue-glass: #26487D;
    --white: #ffffff;
    --black: #141416;
    --black-s: #1C1C1E;
    --black-t: #252525;
    --black-blur: #232324;
    --green: #00FFAB; 
    --red: #FF3B30;
}

.black_box{
    background-color: var(--black);
    border: 2px solid var(--black-t);
    border-radius: 20px;
}

.line{
    margin: 20px 0px 20px 0px;
    width: 100%;
    height: 1px;
    background-color: #363636;
}
/* force refresh */