.app_content{
    width: 100%;
    height: 100%;
    background-color: var(--black-s);
    border-radius: 20px;
    border: 2px solid var(--black-t);
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none; /* Для Firefox */
    -ms-overflow-style: none; /* Для IE и Edge */
    container-type: inline-size;
    container-name: app-container;
}

.app_content::-webkit-scrollbar {
    display: none; /* Для Chrome, Safari, Edge */
}

 
.MainContentApp{
    width: 100%;
    padding: 16px 16px 16px 0px;
     display: flex;           /* Добавить */
    flex-direction: column;  /* Добавить */
    height: 100vh;           /* Добавить или оставить */
    overflow: hidden; 
}
.persent_money{
    font-size: 11px;
}
.MainAppScreen{
    display: flex;
    height: 100vh;
    width: 100%;
}

.app_pages{
    height: 100%;
}

.app_outlet_wrapper {
    flex: 1;           
    min-height: 0;           
    overflow: auto;         
}
@media screen and (max-width: 672px){
    .MainContentApp{
    width: 100%;
    padding: 16px 16px 16px 0px;
}
}

@media screen and (max-width: 574px){
    .MainAppScreen{
        flex-direction: column;
    }
    .MainContentApp{
    width: 100%;
    height: 100%;
    padding: 24px 0px 0px 0px;
}
.app_content{
    width: 100%;
    height: 100%;
    background-color: var(--black-s);
    border-radius: 35px 35px 0px 0px;
    border: 2px solid var(--black-t);

}

}