.container-landing {
  position: relative;
  width: 100%;
  height: 100vh;
  --color: var(--black-t);
  background-color: var(--black);
  background-image: linear-gradient(0deg, transparent 24.6667%, var(--color) 25%, var(--color) 25.3333%, transparent 25.6666%,
                                      transparent 74.3334%, var(--color) 74.6667%, var(--color) 75%, transparent 75.3333%),
                    linear-gradient(90deg, transparent 24.6667%, var(--color) 25%, var(--color) 25.3333%, transparent 25.6666%,
                                      transparent 74.3334%, var(--color) 74.6667%, var(--color) 75%, transparent 75.3333%);
  background-size: 150px 150px;
}
.container-landing{
  padding: 20px;
}
.logo_blokc p{ 
  font-size: 34px;
    font-family: 'Coolvetica';
  
}
.container_content{
  padding: 20px;
  display: flex;
  justify-content: center;
}
.logo_blokc{
    display: flex;
    justify-content: center;
    gap: 10px;
      align-items: center;
}
.logo_blokc img{
  width: 40px;
}

.container_inforamtuin_weapp {
  display: inline-flex;  /* вместо flex — теперь ширина по контенту */
  justify-content: center;
  padding: 10px 15px;    /* внутренние отступы — это часть фона */
  gap: 130px;
  border-radius: 60px !important;
  align-items: center;
}

.hero_content {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.hero_content img {
  object-fit: cover;
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

header{
  position: relative;z-index: 10;
}
.title_hero p{
  height: 250px;
    font-size: 190px;
    font-family: 'Coolvetica';
}
.content_hero{
  display: flex;
  justify-content: center;
  align-items: center;
  position:  relative;
  z-index: 10;
}
.description p{
  padding-bottom: 16px;
  text-align: center;
}

@media screen and (max-width: 750px) {
  .container_inforamtuin_weapp {
    gap: 5vw;
}

}

@media screen and (max-width: 490px) {
.Mb-disabled{
  display: none;
}
.title_hero p {
  font-size: 38vw;
  margin-top: 3vh;
  height: 100%;
}

.container-landing {
  padding: 0px;
}
.flex-col {
  flex-direction: column;
}
}
